<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
                <li>@Html.ActionLink("Students", "Index", "Students")</li>
                <li>@Html.ActionLink("Professors", "Index", "Professors")</li>
                <li>@Html.ActionLink("Statistics", "Index", "Statistics")</li>
            </ul>
        </div>
    </div>
    @RenderBody()
</body>
</html>
