<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                @if (!User.Identity.IsAuthenticated)
                {
                    @:<li>@Html.ActionLink("Log in", "Login", "Account")</li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <li>
                            <input type="submit" value="Log off"/>
                        </li>

                            <!--<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>-->
                            }
                            }
                            @if (User.IsInRole("Admin") || User.IsInRole("Professor"))
                            {
                                @:
                                <li>@Html.ActionLink("Register new User", "Register", "Account")</li>
                }
                
                <li>@Html.ActionLink("Students", "Index", "Students")</li>
                <li>@Html.ActionLink("Professors", "Index", "Professors")</li>
                <li>@Html.ActionLink("Statistics", "Index", "Statistics")</li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>@DateTime.Now.Date</p>
        </footer>
    </div>
</body>
</html>
