@model StudentsWebsite.Models.Student

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Создать</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <h4>Студент</h4>
    <hr />
        
    <div>
        @Html.Label("Имя: ")
        <div>
            @Html.EditorFor(model => model.FirstName)
        </div>
    </div>

    <div>
        @Html.Label("Фамилия: ")
        <div>
            @Html.EditorFor(model => model.LastName)
        </div>
    </div>

    <div>
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
}

        @Html.ActionLink("Back to List", "Index")

