@model StudentsWebsite.Models.Student

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

        <h4>Student</h4>
        <hr />
        
        @Html.HiddenFor(model => model.ID)

        <div>
            @Html.Label("Фамилия")
            <div>
                @Html.EditorFor(model => model.FirstName)
            </div>
        </div>

        <div>
            @Html.Label("Фамилия")
            <div>
                @Html.EditorFor(model => model.LastName)
            </div>
        </div>

        <input type="submit" value="Save" class="btn btn-default" />
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
